<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election</title>
</head>
<body>
    <h1>Election</h1>
    {% for candidate in candidates %}
    <div>
        <h3>{{ candidate.name }} ( คะแนนปัจจุบัน : {{ candidate.votes }} )</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="candidate_id" value="{{ candidate.id }}">
            <button type="submit" >Vote</button>
        </form>
    </div>
    {% endfor %}
</body>
</html>